<br />


{% if user_has_perm %}
  <hr />
  <h2>Received ISD join requests</h2>

  <table class="table" id="received-connection-requests-tbl">
    <thead>
    <tr>
      <th class="col-md-2">Signing key</th>
      <th class="col-md-2">Encryption key</th>
      <th class="col-md-3">Info</th>
      <th class="col-md-2">Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for request in join_requests %}
      <tr>
        <td>{{ request.enckey }}</td>
        <td>{{ request.sigkey }}</td>
        <td>
          <pre>{{ request.info }}</pre>
        </td>
        <td class="col-md-3">
          <form method="POST" action="{% url 'accept_join' isd_as=isdas request_id=request.id %}" class="request-approve-form">
            {% csrf_token %}
            <input type="text" name="sig_pub_key" value="{{ request.sigkey }}" class="hidden">
            <input type="text" name="enc_pub_key" value="{{ request.enckey }}" class="hidden">
            <label class="control-label" class="floor-align-text" for="newASname">Joining AS name:</label>
            <input id="newASname" name="newASname" type="text" required>
            <button type="submit" class="btn btn-success btn-sm click-confirm" name="_approve_request">
              Approve
            </button>
            <button type="submit" class="btn btn-danger btn-sm click-confirm" name="_decline_request">
              Decline
            </button>
          </form>
        </td>
    {% empty %}
      <tr>
        <td colspan="4"><i>No requests</i></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <hr />
  <h2>Received connection requests</h2>
  <!-- TODO(ercanucan): To be implemented -->

{% endif %}
