<h4>Routers</h4>
<table class="table table-striped element-table" id="routers-table">
  <thead>
  <tr>
    <th></th>
    <th class="col-md-2 text-center">Address</th>
    <th class="col-md-2 text-center">Interface in-address</th>
    <th class="col-md-2 text-center">Interface out-address</th>
    <th class="col-md-2 text-center">Neighbor AS</th>
    <th class="col-md-2">Neighbor type</th>
  </tr>
  </thead>
  <tbody>
  {% for router in border_routers %}
    <tr id="{{ router.name }}">
      <td>{{ router.name }}</td>
      {% for addr in router_addrs %}
        {% if router.id == addr.router_id and addr.is_public %}
          <td class="text-center">{{ addr.addr }}</td>
          {% for intf in interface_addrs %}
            {% if addr.id == intf.router_addr_id %}
              <td class="text-center">{{ intf.addr }}</td>
              <td class="text-center">{{ intf.remote_addr }}</td>
              <td class="text-center">{{ intf.neighbor_isd_id }}-{{ intf.neighbor_as_id_str }}</td>
              <td>{{ intf.neighbor_type }}</td>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tr>
  {% empty %}
    <tr>
      <td colspan="8"><i>No routers</i></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
