<h4>{{ table_name }}</h4>
<table class="table table-striped element-table" id="{{ table_id }}-table">
  <thead>
  <tr>
    <th></th>
    <th class="col-md-3">Address</th>
    <th class="col-md-3">Port</th>
  </tr>
  </thead>
  <tbody>
  {% for server in servers %}
    {% if type in server.name %}
      {% for addr in addrs %}
        {% if server.id == addr.service_id and addr.is_public%}
          <tr id="{{ server.id_str }}">
            <td> {{ server.name }}</td>
            <td>{{ addr.addr }}</td>
            <td>{{ addr.l4port }}</td>
          </tr>
        {% endif%}
      {% endfor %}
    {% endif%}
  {% empty %}
    <tr>
      <td colspan="4"><i>No servers</i></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br />
