{% extends "as_manager/base.html" %}
{% load bootstrap3 %}

{% block content %}
  <h2>Showing settings for user <i>{{ user.username }}</i></h2>
  <br />
  <br />
  <br />
  <form action="{% url 'coord_service_update' %}" method="POST">
    {% csrf_token %}
    <div class="form-horizontal">
        {% bootstrap_form settings_form layout='horizontal' %}
        <input class="btn btn-info submit-settings" type="submit" value="Update settings" />
    </div>
  </form>

  <hr />
  <h3>Add AS at coordination service</h3>
  <form>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="as_id">AS-id</label>
            <div class="col-md-4">
                <input class="form-control" id="as_id" name="as_id" placeholder="1-1" required="required" title=""type="text"></div>
        </div>
        <div class="form-group col-md-3">
            <label class="col-md-4 control-label" for="is_core">Is Core</label>
            <div class="col-md-1">
                <input class="form-control" id="is_core" name="is_core" required="required" type="checkbox">
            </div>
        </div>
        <button class="btn btn-info" type="button" onclick="manuallyCreateCoordAS();">Create AS at coord service</button>
    </div>
  </form>

  <script>
    function manuallyCreateCoordAS() {
        var coord_service_uri = "http://127.0.0.1:8080";
        var key_val = $('.input-field-coord-key').val();
        var secret = $('.input-field-coord-secret').val();
        var url = coord_service_uri + "/api/as/insert/" + key_val + "/" + secret;
        var isd_as = $('#as_id').val();
        var is_core = $('#is_core').is(':checked');
        var sent_data = '{"isdas": "' + isd_as + '", "core": ' + is_core +' }';
        $.post( url, sent_data, function( ) {
          alert("AS was created.");
        });
    }
  </script>

  <style>
    .input-field-coord-key {
        width: 25em;
    }
    .input-field-coord-secret {
        width: 40em;
    }
    .form-group {
        float: left;
    }
    .submit-settings {
        margin-left: 4em;
    }
  </style>
{% endblock %}