{% extends "ad_manager/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block js %}
  {{ block.super }}
    <script src="{% static 'js/ad_detail.js' %}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block content %}
  {% include 'ad_manager/partials/object_path.html' %}

  <h4 id="core-label" class="ad-label">
    Core AS:
    {{ object.is_core_ad|yesno:"Yes,No,???" }}
    <span class="glyphicon glyphicon-{{ object.is_core_ad|yesno:"ok,remove," }}"></span>
  </h4>
  <h4 id="open-label" class="ad-label">
    Open AS:
    {{ object.is_open|yesno:"Yes,No,???" }}
    <span class="glyphicon glyphicon-{{ object.is_open|yesno:"ok,remove," }}"></span>
  </h4>
  <br />

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#servers" aria-controls="servers" role="tab" data-toggle="tab">Servers</a></li>
      <li role="presentation"><a href="#topology" aria-controls="topology" role="tab" data-toggle="tab">Topology</a></li>
      <li role="presentation"><a href="#updates" aria-controls="updates" role="tab" data-toggle="tab">Software updates</a></li>
      <li role="presentation"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Connection requests</a></li>
      <li role="presentation"><a href="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Assign nodes</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Server status tab -->
      <div role="tabpanel" class="tab-pane active" id="servers">
        <div>
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-info pull-right" id="update-ad-btn">Update status</button>
          </div>
        </div>

        {% with table_name='Beacon servers' servers=beacon_servers table_id='beacon-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='Certificate servers' servers=certificate_servers table_id='certificate-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='Path servers' servers=path_servers table_id='path-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='DNS servers' servers=dns_servers table_id='dns-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% include 'ad_manager/partials/router_table.html' %}
        <br /><br />
      </div>

      <!-- Topology tab -->
      <div role="tabpanel" class="tab-pane" id="topology">
        <br />

        {% for message in messages %}
          {% if 'topology' in message.tags %}
            <br />
            <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
          {% endif %}
        {% endfor %}

        {% if request.user.is_staff %}
          <p>Create a new link by connecting two existing ASes</p>
          <a href="{% url 'new_link' object.id %}" class="btn btn-default">Add link</a>
          <hr />
        {% endif %}

        <p>The stored topology might be out of sync with the real topology</p>
        <div>
          <button type="button" class="btn btn-info" id="compare-topology-btn">Check topology</button>
          <form method="POST" action="{% url 'update_topology' object.id %}">
            <br />
            {% csrf_token %}
            <button type="submit" class="btn btn-default click-confirm" id="update-topology-btn" name="_pull_topology">
              Update the local topology
            </button>

            <button type="submit" class="btn btn-default click-confirm" id="push-update-topology-btn" name="_push_topology">
              Push the topology
            </button>

          </form>
        </div>
        <br/>
        <div id="topology-info" class="alert" role="alert"></div>

      </div>

      <!-- Updates tab -->
      <div role="tabpanel" class="tab-pane" id="updates">
        <br />
        <div>
          {% for message in messages %}
            {% if 'updates' in message.tags %}
              <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <div>
          <div class="col-md-9">
            <form method="POST" action="{% url 'update_action' object.id %}">
              {% csrf_token %}
              {% bootstrap_form choose_version_form %}
              <br />
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-warning click-confirm" id="send-updates-btn"
                          data-confirmation="Are you sure? All unsaved data will be lost!" name="_install_update">
                    Install the update
                  </button>
                </div>
                <div>Push updates to the server</div>
              </div>

              <br />
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-default" id="download-updates-btn" name="_download_update">
                    Download the update
                  </button>
                </div>
                <div>Download the SCION distribution</div>
              </div>
            </form>
          </div>
          <div class="col-md-3" id="refresh-btn-container">
            <form method="POST" action="{% url 'refresh_versions' object.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-default" id="refresh-versions-btn" name="_refresh_packages">
                Refresh
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Requests tab -->
      <div role="tabpanel" class="tab-pane" id="requests">
        {% with ad=object %}
          {% include 'ad_manager/partials/connection_requests.html' %}
        {% endwith %}
      </div>

      <!-- Requests tab -->
      <div role="tabpanel" class="tab-pane" id="nodes">
          <br />
          <div>
              Register machines:
              <form class="form-inline" method="POST" action="{% url 'register_node' %}">
                  {% csrf_token %}
                  <div id="node_registration" class="well">
                      <div class="form-group">
                          <label class="control-label" for="inputManagementInterfaceIP">Interface IP: </label>
                          <input type="text" id="inputManagementInterfaceIP" name="inputManagementInterfaceIP" value="{{ management_interface_ip }}" alt="Could be put as: readonly">
                      </div>
                      <br />
                      <div class="form-group">
                          <label class="control-label" for="inputNodeIP">Node IP: </label>
                          <input type="text" id="inputNodeIP" name="inputNodeIP" placeholder="192.168.0.15" value="">
                      </div>
                      <div class="form-group">
                          <label class="control-label" for="inputNodeName">Node name: </label>
                          <input type="text" id="inputNodeName" name="inputNodeName" placeholder="furious-linx" value="">
                      </div>
                      <div class="form-group">
                          <label class="control-label" for="inputNodeISD">Node ISD: </label>
                          <input type="text" id="inputNodeISD" name="inputNodeISD" placeholder="ISD1" value="">
                      </div>
                      <div class="form-group">
                          <label class="control-label" for="inputNodeAS">Node AS: </label>
                          <input type="text" id="inputNodeAS" name="inputNodeAS" placeholder="AS10" value="">
                      </div>
                      <button type="submit" class="btn btn-primary">Register node</button>
                  </div>
              </form>
          </div>
          <br />
          <div>
              <h1>AS TOPOLOGY</h1>
              Define topology file for AS:
              You only define the logical topology of the AS, i.e. you only need to specify the links for the edge routers. Endhosts are not specified.
              <br/>(Abstraction: naming and prefixing is provided, default values suggested: ip to 127.0.0.--/29 subnets, bandwidth, ports)
              <br />
              <br />
              <form class="form-horizontal" method="POST" action="/ad_manager/ads/generate_topology">
                  {% csrf_token %}
                  {% with as_id="10" isd_id="1" %}
                  <div id="misc_fields" class="well">
                      <b>AS mandatory fields:</b>
                      <div class="control-group">
                          <br />
                          <label class="control-label col-sm-2" for="inputIsCore">Is Core: </label>
                          <div class="controls">
                              <input id="inputIsCore" name="inputIsCore" type="hidden" value="false" style="display: none;" alt="get a value even for false checkbox"/>
                              <input id="inputIsCore" name="inputIsCore" type="checkbox" data-toggle='tooltip' data-placement='right' data-original-title="Is core checkbox: True, False (is of importance for Beacon, Certificate, Path server; stored as single entry in topo file)">
                          </div>
                      </div>
                      <br />
                      <div class="control-group">
                          <label class="control-label col-sm-2" for="inputDnsDomain">DNS Domain: </label>
                          <div class="controls">
                              <input type="text" id="inputDnsDomain" name="inputDnsDomain" placeholder="as{{ as_id }}-isd{{ isd_id }}.scion.">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label col-sm-2" for="inputISD_AS">AS name: </label>
                          <div class="controls">
                              <input type="text" id="inputISD_AS" name="inputISD_AS" placeholder="{{ isd_id|add:'-'|add:as_id }}" value="{{ isd_id|add:'-'|add:as_id }}" alt="readonly">
                          </div>
                      </div>
                      <div class="control-group">
                          <label class="control-label col-sm-2" for="inputMTU">MTU: </label>
                          <div class="controls">
                              <input type="text" id="inputMTU" name="inputMTU" placeholder="1500">
                          </div>
                      </div>
                      {% endwith %}
                  </div>

                  <br />

                  {% with 'Beacon Certificate Domain Path' as serverTypes %}
                      {% for type in serverTypes.split %}
                          <div class="control-group well">
                              <div class="chevron {% if forloop.counter0 > 0%}collapsed{% endif %}" data-toggle="collapse" href="#{{ type|lower }}Accordion"><span class="sectionTitle">{{ type }} servers</span></div>
                                  <div id="{{ type|lower }}Accordion" class ="collapse {% if forloop.counter0 == 0%}in{% endif %}" aria-expanded="true">
                                  <br/>
                                  <div class ="{{ type }}Item">

                                      <input type="text" id="input{{ type }}ServerType" name="input{{ type }}ServerType" value="{{ type|lower }}_server" style="display: none;">
                                      <label class="control-label col-sm-2" for="input{{ type }}ServerName">Server name: </label>
                                      <div class="controls">
                                          <input type="text" id="input{{ type }}ServerName" name="input{{ type }}ServerName" value="{{ type|lower|slice:":1" }}s1-10-1">
                                      </div>

                                      <label class="control-label col-sm-2" for="input{{ type }}ServerAddress">Address & subnet: </label>
                                      <div class="controls">
                                          <input type="text" id="input{{ type }}ServerAddress" name="input{{ type }}ServerAddress" placeholder="127.0.0.{{ forloop.counter0|add:49 }}/29" value="">
                                          <button class="btn btn-success btn-add pull-right" type="button"
                                                  onclick="toggleInput(this);">
                                            <span class="glyphicon glyphicon-plus"></span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  {% endwith %}

                  <div class="control-group well">
                      <div class="chevron" data-toggle="collapse" href="#routerAccordion"><span class="sectionTitle">Edge routers: </span></div>
                      <div id="routerAccordion" class ="collapse in" aria-expanded="true">
                          <div class="routerItem">
                              <label class="control-label col-sm-2" for="inputEdgeRouterName">Server name: </label>
                              <div class="controls">
                                  <input type="text" id="inputEdgeRouterName" name="inputEdgeRouterName" value="er1-10er1-19">
                              </div>
                              <label class="control-label col-sm-2" for="inputEdgeRouterAddress">Edge router: </label>
                              <div class="controls">
                                  <input type="text" id="inputEdgeRouterAddress" name="inputEdgeRouterAddress" placeholder="127.0.0.52/29">
                                  <button class="btn btn-success btn-add pull-right" type="button"
                                              onclick="toggleInput(this);">
                                        <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                              </div>
                              <br/>
                              <div class="control-group">
                                  <b>Interface parameters:</b>
                                  <br/><br/>
                                  <label class="control-label col-sm-2" for="inputInterfaceAddr">Interface address: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceAddr" name="inputInterfaceAddr" placeholder="127.0.0.4/31">
                                  </div>

                                  <label class="control-label col-sm-2" for="inputInterfaceBandwidth">Interface bandwidth: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceBandwidth" name="inputInterfaceBandwidth" placeholder="1000">
                                  </div>

                                  <label class="control-label col-sm-2" for="inputInterfaceIFID">Address: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceIFID" name="inputInterfaceIFID" placeholder="1">
                                  </div>

                                  <label class="control-label col-sm-2" for="inputInterfaceParentName">Name of parent the link connects: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceParentName" name="inputInterfaceParentName" placeholder="1-19">
                                  </div>
                                  <br />

                                  <label class="control-label col-sm-2" for="inputInterfaceType">Type of the link: </label>
                                  <div class="controls">
                                      <select id="inputInterfaceType" name="inputInterfaceType" required>
                                        <option value="PARENT" selected>PARENT</option>
                                        <option value="ROUTING">ROUTING</option>
                                        <option value="PEER">PEER</option>
                                        <option value="CHILD">CHILD</option>
                                      </select>
                                  </div>

                                  <label class="control-label col-sm-2" for="inputInterfaceParentAddress">Parent address the link connects: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceParentAddress" name="inputInterfaceParentAddress" placeholder="127.0.0.5/31">
                                  </div>
                                  <br />

                                  <label class="control-label col-sm-2" for="inputInterfaceParentPort">Parent port the link connects: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceParentPort" name="inputInterfaceParentPort" placeholder="50000">
                                  </div>
                                  <br />

                                  <label class="control-label col-sm-2" for="inputInterfaceOwnPort">Edge router port from which the link connects: </label>
                                  <div class="controls">
                                      <input type="text" id="inputInterfaceOwnPort" name="inputInterfaceOwnPort" placeholder="50000">
                                  </div>
                                  <br />
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="control-group well">
                      <div class="chevron collapsed" data-toggle="collapse" href="#sibraAccordion"><span class="sectionTitle">Sibra servers</span></div>
                      <div id="sibraAccordion" class ="collapse" aria-expanded="true">
                          <br/>
                          <div class="sibraItem">

                              <input type="text" id="inputSibraServerType" name="inputSibraServerType" value="sibra_server" style="display: none;">
                              <label class="control-label col-sm-2" for="inputSibraServerName">Server name: </label>
                              <div class="controls">
                                  <input type="text" id="inputSibraServerName" name="inputSibraServerName" value="sb1-10-1">
                              </div>

                              <label class="control-label col-sm-2" for="inputSibraServerAddress">Address & subnet: </label>
                              <div class="controls">
                                  <input type="text" id="inputSibraServerAddress" name="inputSibraServerAddress" placeholder="127.0.0.54/29">
                                  <button class="btn btn-success btn-add pull-right" type="button"
                                              onclick="toggleInput(this);">
                                        <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="control-group well">
                      <div class="chevron collapsed" data-toggle="collapse" href="#zookeeperAccordion"><span class="sectionTitle">Zookeeper servers</span></div>
                      <div id="zookeeperAccordion" class ="collapse" aria-expanded="true">
                          <br/>
                          <div class="zookeeperItem">

                              <input type="text" id="inputZookeeperServerType" name="inputZookeeperServerType" value="zookeeper_server" style="display: none;">
                              <label class="control-label col-sm-2" for="inputZookeeperServerName">Server name: </label>
                              <div class="controls">
                                  <input type="text" id="inputZookeeperServerName" name="inputZookeeperServerName" value="zk1-10-1">
                              </div>

                              <label class="control-label col-sm-2" for="inputZookeeperServerAddress">Address & subnet: </label>
                              <div class="controls">
                                  <input type="text" id="inputZookeeperServerAddress" name="inputZookeeperServerAddress" placeholder="127.0.0.1/32">
                                  <button class="btn btn-success btn-add pull-right" type="button"
                                              onclick="toggleInput(this);">
                                        <span class="glyphicon glyphicon-plus"></span>
                                  </button>
                              </div>
                              <label class="control-label col-sm-2" for="inputZookeeperServerPort">Zookeeper port: </label>
                              <div class="controls">
                                  <input type="text" id="inputZookeeperServerPort" name="inputZookeeperServerPort" placeholder="2181">
                              </div>
                          </div>
                      </div>
                  </div>

                  <br />
                  <div class="control-group">
                      <button type="submit" class="btn">Save to topology file</button>
                  </div>
              </form>

          </div>

          <br />
          <br />
          <br />
          <br />
          <div height="500px">
              Provision node :

          <form method="POST" action="/ad_manager/ads/deploy_config">
              {% csrf_token %}
              <input type="text" id="inputManagementInterfaceIPretrieving" name="managementInterfaceIP" value="{{ management_interface_ip }}" style="display: none;">
              <select  name="nodeUUID" class="selectpicker" data-show-subtext="true" required>
                <optgroup label="available nodes">
                <option value="" class="placeholder" selected disabled style="display:none;">Choose node</option>
                {% for node in nodes %}
                  <option data-subtext="{{ node.name }}">{{ node.uuid }}</option>
                {% endfor %}
                </optgroup>
              </select>

              and deploy service :
              <select name="type[]" class="selectpicker" multiple required>
                  <optgroup label="servers">
                      <option value="router">Edge router</option>
                      <option value="beacon_server">Beacon server</option>
                      <option value="path_server">Path server</option>
                      <option value="certificate_server">Certificate server</option>
                      <option value="sibra_server">Sibra server</option>
                      <option value="domain_server">Domain server</option>
                  </optgroup>
                  <optgroup label="services">
                      <option value="zookeeper_service">Zookeeper service</option>
                  </optgroup>
              </select>
              <button type="submit" class="btn">Go</button>
          </form>
          </div>
      </div>
    </div>
  </div>

  {% include 'ad_manager/partials/log_modal.html' %}

  <!-- JS variables passed from the view to JavaScript files -->
  <script>
    var isdAdId = '{{ object }}';
    var adDetailUrl = '{% url 'ad_status' object.id %}';
    var adCompareUrl = '{% url 'compare_topology' object.id %}';
    var getMasterUrl = '{% url 'get_group_master' object.id %}';

    // display tooltip in form
    $(function () {
          $("[data-toggle='tooltip']").tooltip();
    });

    function toggleInput(elem) {
        var wellGroup = elem.parentNode.parentNode.parentNode;
        var clone = elem.parentNode.parentNode.cloneNode(true);
        var currentClass = $(elem).children(':first').attr('class');
        if (currentClass === 'glyphicon glyphicon-plus') {

            // increment current name for next field
            currentName = $(clone).children('.controls').find( 'input' ).attr('value')
            nameParts = currentName.split('-')
            nameParts[2]++
            newName = nameParts.join('-')
            $(clone).children('.controls:eq(0)').find( 'input' ).attr('value', newName)
            // reset IP
            $(clone).children('.controls:eq(1)').find( 'input' ).val('')
            // append the cloned and cleaned item
            wellGroup.appendChild(clone);
            //var test = $(clone).children(':first').prop('tagName');
            if ($(clone).children(':first').attr('class') !== 'doc-hr') {
                // add separator
                $(clone).prepend('<div class="doc-hr"></div>');
            }
            $(elem).removeClass('btn-success').addClass('btn-danger');
            $(elem).children(':first').removeClass('glyphicon glyphicon-plus').addClass('glyphicon glyphicon-minus');
        } else {
            var sibling = $(elem).parent().parent().next();
            var firstItem = $(elem).parent().parent().parent().children(':nth-child(2)');
            var selfItem = $(elem).parent().parent();
            if (firstItem.is(selfItem)) {
                $(sibling).children(':first').remove();
            }
            $(elem).parent().parent().remove();
        }
    }

    // Update the deploy form when management interface ip gets manually set
    $('#inputManagementInterfaceIP').bind('keypress keyup blur', function() {
        $('#inputManagementInterfaceIPretrieving').val($(this).val());
    });
  </script>
  <style>
    .doc-hr {
        width: 100%;
        height: 1px;
        background: #aaaaaa;
        margin: 15px;
    }

  .chevron:before {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: grey;         /* adjust as needed */
        float: left;
    }
    .chevron.collapsed:before {
        /* symbol for "collapsed" panels */
        content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    }

    .sectionTitle{
        font-weight: bold;
        margin-left: 10px;
    }

  #node_registration input {
      width: 9em;
  }
  </style>
{% endblock %}
