{% extends "ad_manager/base.html" %}

{% block content %}
  <h1>
    <a href="{% url 'list_isds' %}" class="glyphicon glyphicon-home"></a>
    <span class="glyphicon glyphicon-menu-right"></span>
    All ISDs
  </h1>
  <hr>
  <ul>
    {% for isd in object_list %}
      <li><a href="{% url 'isd_detail' isd %}">ISD {{ isd }}</a></li>
    {% empty %}
      <li>No ISDs.</li>
    {% endfor %}
  </ul>

  <form method="POST" action="/ad_manager/isds/add_isd">
    {% csrf_token %}
    <div class="control-group">
        <br/>
        <label class="control-label col-sm-2" for="inputISDname">new ISD name:</label>
        <div class="controls">
            <input id="inputISDname" name="inputISDname" type="text">
            <button type="submit" class="btn">Create ISD</button>
        </div>
    </div>
  </form>

  {% include 'ad_manager/partials/pagination_footer.html' %}
{% endblock %}
