{% extends "ad_manager/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block js %}
  {{ block.super }}
    <script src="{% static 'js/ad_detail.js' %}" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{% static 'js/topology_input.js' %}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block content %}
  {% include 'ad_manager/partials/object_path.html' %}

  <h4 id="core-label" class="ad-label">
    Core AS:
    {{ object.is_core_ad|yesno:"Yes,No,???" }}
    <span class="glyphicon glyphicon-{{ object.is_core_ad|yesno:"ok,remove," }}"></span>
  </h4>
  <br />

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#servers" aria-controls="servers" role="tab" data-toggle="tab">Servers</a></li>
      <li role="presentation"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Connection requests</a></li>
      <li role="presentation"><a href="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Define topology</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Server status tab -->
      <div role="tabpanel" class="tab-pane active" id="servers">
        <div>
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-info pull-right" id="update-ad-btn">Update status</button>
          </div>
        </div>

        {% with table_name='Beacon servers' servers=beacon_servers table_id='beacon-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='Certificate servers' servers=certificate_servers table_id='certificate-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='Path servers' servers=path_servers table_id='path-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% with table_name='Sibra servers' servers=sibra_servers table_id='sibra-servers' %}
          {% include 'ad_manager/partials/server_table.html' %}
        {% endwith %}

        {% include 'ad_manager/partials/router_table.html' %}
        <br /><br />
      </div>

      <!-- Requests tab -->
      <div role="tabpanel" class="tab-pane" id="requests">
        {% with ad=object %}
          {% include 'ad_manager/partials/connection_requests.html' %}
        {% endwith %}
      </div>

      <!-- Define Topology tab -->
      <div role="tabpanel" class="tab-pane" id="nodes">
          <br />
          {% include 'ad_manager/partials/topology_input.html' %}
          <br />
          <br />
          <div class="well">
              <form method="POST" action="../../api/v1/internal/isd/{{ isd_id }}/as/{{ as_id }}/deploy">
                  {% csrf_token %}
                  Deploy the saved configuration with Ansible:
                  <br/>
                  <br/>
                  <label for="backLog" style="font-weight: normal;">Show commit hashes for last <input id="backLog" type="text" size="1" placeholder="2"> weeks</label>
                  <br/>
                  <label for="commitHash" >Version to deploy from Github:</label>
                  <input id="commitHash" name="commitHash" list="queriedHashes" type="text" size="72" placeholder="df9d702d9e77a503b475c501df035d95e5152ee9 |      Latest compatible commit" class="selectpicker" data-show-subtext="true"
                         onfocus="queryForHashes();">
                  <datalist id="queriedHashes" class="selectpicker" data-show-subtext="true">
                      <option data-subtext="Latest compatible" value="df9d702d9e77a503b475c501df035d95e5152ee9 |      Latest compatible commit"></option>
                  </datalist>
                  <button type="submit">Deploy</button>
              </form>
          </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  {% include 'ad_manager/partials/log_modal.html' %}

  <!-- JS variables passed from the view to JavaScript files -->
  <script>
    var isdAdId = '{{ object }}';
    var adDetailUrl = '';
    var adCompareUrl = '';

    // display tooltip in form
    $(function () {
          $("[data-toggle='tooltip']").tooltip();
    });

    // Update the deploy form when management interface ip gets manually set
    $('#inputManagementInterfaceIP').bind('keypress keyup blur', function() {
        $('#inputManagementInterfaceIPretrieving').val($(this).val());
    });

    // Run the core check when the value changes
    $('#inputIsCore.shownCheckbox').change(function(e) {
        checkShowCoreOption();
    });
    // Hide the link type ROUTING when current AS is not Core (isCore is not selected)
    function checkShowCoreOption() {
        var isChecked = $('#inputIsCore.shownCheckbox').is(':checked');
        // we need to check if ROUTING option already exists
        var noExistingRoutingOption = $("#inputInterfaceType").find("option[value='ROUTING']").length == 0;
        if (isChecked && noExistingRoutingOption) {
            $('#inputInterfaceType').append('<option value="ROUTING">ROUTING</option>');
        } else if (!isChecked && !noExistingRoutingOption) {
            $('#inputInterfaceType').find('option[value="ROUTING"]').remove();
        }
    }
    // Run it always when the page is loaded (for initial value unchecked)
    checkShowCoreOption();


    // Input check the port to be in range 0 to 65535
    $('.inputPort').bind('keypress keyup blur', function(e) {
        var port = this.value;
        if (port < 0 || port > Math.pow(2,16)-1) {
            var errorColor = 'pink';
            $(this).attr('style', 'background: '+errorColor+';');
        } else {
            $(this).attr('style', '');
        }
    });

  </script>

  <!-- set data reloaded from DB -->
  <script>
    reloadedTopology = '{{ reloaded_topology }}';
    reloadedTopology = parseTopology(reloadedTopology);
    setLoadedTopology(reloadedTopology);
  </script>

  <!-- set topology hash at load time -->
  <script>
    reloadedTopologyHash = '{{ reloaded_topology_hash }}';
  </script>

  <style>
    .doc-hr {
        width: 100%;
        height: 1px;
        background: #aaaaaa;
        margin: 15px;
    }

    input {
        margin-bottom:1em;
    }
  </style>
{% endblock %}
