{% extends "ad_manager/base.html" %}

{% block content %}
  <h1>
    <a href="{% url 'list_isds' %}" class="glyphicon glyphicon-home"></a>
    <span class="glyphicon glyphicon-menu-right"></span>
    ISD {{ object.id }}
  </h1>
  <hr>

  <p>
    Total number of ASes: {{ paginator.count }}
  </p>
  <ul>
    {% for ad in object_list %}
      <li>
        <a href="{% url 'ad_detail' ad.id %}">AS {{ ad }}</a>
        {% if ad.is_core_ad %} <span class="badge alert-warning">core</span> {% endif %}
      </li>
    {% empty %}
      <li>No ASes.</li>
    {% endfor %}
  </ul>

  <form method="POST" action="/ad_manager/ads/add_as">
    {% csrf_token %}
    <div class="control-group">
        <br/>
        <div class="form-group">
            <label class="control-label" style="vertical-align: sub;" for="inputASname">new AS name:</label>
            <input class="hidden" id="inputISDname" name="inputISDname" type="text" value="{{ object.id }}">
            <input id="inputASname" name="inputASname" type="text">
            <button type="submit" class="btn">Create AS</button>
        </div>
    </div>
  </form>

  {% include 'ad_manager/partials/pagination_footer.html' %}

{% endblock %}
