{% extends "ad_manager/base.html" %}

{% block content %}
  <h1>
    <a href="{% url 'list_isds' %}" class="glyphicon glyphicon-home"></a>
    <span class="glyphicon glyphicon-menu-right"></span>
    All ISDs
  </h1>
  <hr>
  <ul>
    {% for isd in object_list %}
      <li><a href="{% url 'isd_detail' isd %}">ISD {{ isd }}</a></li>
    {% empty %}
      <li>No ISDs.</li>
    {% endfor %}
  </ul>

<!--   <form method="POST" action="/as_manager/isds/add_isd">
    {% csrf_token %}
    <div class="form-group">
        <br/>
        <label class="control-label" class="floor-align-text" for="inputISDname">new ISD name:</label>
        <input id="inputISDname" name="inputISDname" type="text">
        <button type="submit" class="btn">Create ISD</button>
    </div>
  </form> -->

  <form method="POST" id="joinISD" action="/as_manager/isds/join_isd">
    {% csrf_token %}
    <div class="form-group">
        <br/>
        <label class="control-label" class="floor-align-text" for="inputISDtojoin">Create new AS in ISD:</label>
        <input id="inputISDtojoin" name="inputISDtojoin" type="text">
        <button type="button" class="btn" onclick="queryForAsId();">Join</button>
    </div>
  </form>

  <form method="POST" action="/as_manager/isds/poll_join_reply">
    {% csrf_token %}
    <div class="form-group">
        <br/>
        <button type="submit" class="btn">Fetch Join Replies</button>
    </div>
  </form>

  <script>
    function queryForAsId() {
        $.ajaxSetup({
            headers:
            { 'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val() }
        });

        var isd = document.getElementById('inputISDtojoin').value;

        console.log(isd)
        document.getElementById('joinISD').submit();
    }
  </script>

  {% include 'ad_manager/partials/pagination_footer.html' %}
{% endblock %}
