{% extends "ad_manager/base.html" %}
{% load bootstrap3 %}

{% block content %}
  <h1>
    <a href="{% url 'list_isds' %}" class="glyphicon glyphicon-home"></a>
    <span class="glyphicon glyphicon-menu-right"></span>
    ISD {{ object.id }}
  </h1>
  <hr>

  <p>
    Total number of ASes: {{ paginator.count }}
  </p>
  <ul>
    {% for ad in object_list %}
      <li>
        <a href="{% url 'ad_detail' ad.id %}">AS {{ ad.isd.id }}-{{ ad.as_id }}</a>
        {% if ad.is_core_ad %} <span class="badge alert-warning">core</span> {% endif %}
      </li>
    {% empty %}
      <li>No ASes.</li>
    {% endfor %}
  </ul>

  <div class="disp-inline-block">
      <form method="POST" id="createASByID" action="/as_manager/ads/add_as" class="disp-inline-block">
        {% csrf_token %}
        <div class="control-group">
            <br/>
            <div class="form-group">
                <label class="control-label" class="floor-align-text" for="inputASname">new AS name:</label>
                <input class="hidden" id="inputISDname" name="inputISDname" title="ISD name" type="text" value="{{ object.id }}">
                <input class="hidden" id="inputRequestID" name="inputRequestID" title="Join request ID" type="text" value="">
                <input id="inputASname" name="inputASname" list="new_as_id_field" type="text" onfocus="if ($('#new_as_id_field').children().length == 0) {queryForAsId({{ object.id }});}" autocomplete="off" placeholder="Select provided AS id or setup local AS" style="width: 20em;">
                <datalist id="new_as_id_field" class="selectpicker" data-show-subtext="true">
                </datalist>
                <button type="button" class="btn" onclick="setRequestIDnSubmit();">Create AS</button>
            </div>
        </div>
      </form>
      <form id="createASByFile" method="POST" enctype="multipart/form-data" action="{% url 'upload_file_ref' %}" class="disp-inline-block">
        {% csrf_token %}
        <div class="hidden" id="topoInitUpload">
            {% bootstrap_form upload_form %}
        </div>
        <input type="test" class="hidden" name="_upload_init_topo" value="_upload_init_topo">
        <button type="button" class="btn btn-default click-confirm" id="upload-topo-btn" onclick="delayedUpload('#topoInitUpload', 'createASByFile')">
              Create AS from file
        </button>
      </form>
  </div>

  <br/>
  <div>
      Select the .topo file you want to use to create the trc for this ISD.
      <span class="text-danger">WARNING: This overwrites you main scion gen folder.</span><br/>
      <span class="text-success">You are currently using the following certificate file: </span>
      <span id="certfileName">no file</span>
      <form class="form-inline" method="POST" enctype="multipart/form-data" action="{% url 'upload_file_ref' %}">
        {% csrf_token %}
        {% bootstrap_form upload_form %}
        <button type="submit" class="btn btn-default click-confirm" id="upload-topo-btn" name="_upload_topo">
              Create/Update certs
        </button>
      </form>
  </div>

  <script>
    if (sessionStorage.getItem("certFileInUse")) {
        document.getElementById('certfileName').innerHTML = sessionStorage.getItem("certFileInUse");
    }
    document.getElementById('id_file').onchange = function () {
        var certFileName = $('#id_file')[0].value;
        sessionStorage.certFileInUse = certFileName;
        document.getElementById('certfileName').innerHTML = sessionStorage.getItem("certFileInUse");
    }

    function delayedUpload(uploadInput, id) {
        $(uploadInput).find('#id_file').click();
        document.getElementById(id).submit();
    }

    function queryForAsId(isd) {
        $.ajaxSetup({
            headers:
            { 'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val() }
        });

        var url = "../../api/v1/internal/get_new_as_id/isd/" + isd + "/";
        $.post( url, function( data ) {
          data = data['join_replies'];
          for (var i=0; i<data.length; i++) {
            $('#new_as_id_field').append('<option request_id="' + data[i]['request_id'] + '" value="' + data[i]['isdas'] + '"></option>');
          }
        });
    }

    function setRequestIDnSubmit() {
        try {
            // set inputRequestID to the request matching the selected AS id
            var request_id = $('#new_as_id_field').find('option[value='+ $('#inputASname').val() +']').attr('request_id')
            $('#inputRequestID').val(request_id);
        } catch (e) {} // no valid match, handle as manually set
        document.getElementById('createASByID').submit();
    }
  </script>

  {% include 'ad_manager/partials/pagination_footer.html' %}

{% endblock %}
